.waffle-card{
  margin:auto 0;
  width: 100%;
}
.waffle-card-heading{
  padding: 5px 15px;
  margin-bottom: 20px;
}
.waffle-card-heading h4{
  font-weight: 100;
  font-size: 32px;
}
.example-card {
  width: 100%;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
  cursor: pointer;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.price{
  padding: 5px 6px;
  height: 32px;
  color:#111;

  /*border-radius: 2px;*/
  /*float: right;*/
  /*border: 2px #f8c446 dashed;*/
}
.price:before{
  content: "\20B9";
  float: left;
}
.card-action{
  width: 100%;
  padding: 0;
  min-height: 0;
  height: auto;
}
.waffle-item{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.show_waffle{
  text-decoration: none !important;
  color: #111;
  display: block;
}

.example-card h4 {
  font-size: 18px;
}


.show-card{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;

}
.show-card-inner{
  width: 100%;
}
.show-card-heading h3{
  font-size: 25px !important;
}

.show-card-sub{
  width: 100%;
  font-size: 15px;
}
.show-card-image{
  width: 100%;
}

.show-card-content{
  padding: 26px 22px;
  overflow-y: auto;
  width: 100%;
}



.show-card-close{
  position: absolute;
}
.close{
  margin: 10px;
  box-shadow: 0 0!important;
}
.close:focus{
 background: white;
}

.show-card-action{
  width: 100%;
}
.show-card-controlls{
  display: flex;
  align-items: center;
  width: 50%;
}

.show-card-checkout{
  width: 100%;
  margin-top: 15px;
}

.show-card-controlls-btn, .show-card-controlls-qnt{
  padding: 0 7px;
  box-shadow: 0 0;
  font-weight: 100;
}

.show-card-controlls-btn{
  border: #bbb 1px solid;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;

}
.show-card-controlls-btn:hover{
  background: #fafafa;
}
.show-card-controlls-btn:focus{
  background: #fff;
}
.show-card-controlls-qnt{
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout{
  width: 100%;
  color:#fff;
  background: #ee6e73;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
  border-radius: 2px;
}
.checkout:focus{
  background: #ee6e73 !important;
}

.show-card-checkout-text{
  font-size: 14px;
  color: white;
  width: 75%;
  font-weight: 100;
  margin-left: 10%;
}
.show-card-checkout-total-price{
  font-weight: 100;
  font-size: 14px;
  color: white;
  width: 20%;
  float: right;
}

@media (min-width: 992px) {
  .show-card{
    margin: 0;
    padding: 0;
    width: 100%;

  }
  .show-card-inner{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .show-card-image{
    width:55%;
  }

  .show-card-content{
    float: right;
    width:45%;
  }
  .show-card-action{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: calc(100% - 280px)
  }
  .show-card-controlls{
    display: flex;
    align-items: center;
    width: 30%;
  }

  .show-card-checkout{
    float: right;
    width: 70%;
    margin-top: 15px;
  }

}
