<div class="login">
  <div class="show-card-close">
    <button mat-mini-fab (click)="onNoClick()" color="black" class="close"><i class="material-icons">close</i></button>
  </div>
  <div class="login-head">
    <h4>Sign up</h4>
    <p>or <span (click)="openLoginDialog()"><strong>login to your account</strong></span></p>
    <div class="underline"></div>
  </div>

  <div class="login-body">
    <form class="login-form" [formGroup]="SignupForm" (ngSubmit)="onSubmit()">

      <mat-form-field class="example-full-width">
        <input type="text" matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="name.errors?.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="email.errors?.email && !email.errors?.required">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.errors?.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="tel" matInput placeholder="Mobile" formControlName="contact">
        <mat-error *ngIf="contact.errors?.minLength && contact.errors?.maxLength && !contact.errors?.required">
          Please enter a valid 10 digit number
        </mat-error>
        <mat-error *ngIf="contact.errors?.required">
          Mobile Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="password.errors?.minLength && !password.errors?.required">
          Minimum length of 8 is required
        </mat-error>
        <mat-error *ngIf="password.errors?.required">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button class="form-btn" [disabled]="!SignupForm.valid" mat-flat-button>Get Started</button>
    </form>
  </div>
  <div class="login-feet" *ngIf="isSubmit == true">
    <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [diameter]="30">
    </mat-progress-spinner>
  </div>

</div>




