.home-block{
  height: 80vh;
    background: url(../../assets/home-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    position: relative;
    width:100%;
}

.main-flex{
  width: 100%;
  display: flex;
  position: relative;
  padding-top: 80px;
  background: #eee;
}

@media(max-width: 994px){
  .main-flex{
    display: block;
  }
  .main, .aside{
    width:100% !important;
    padding: 15px 12px !important;
  }


}
.main{
  width:65%;
  padding-left:5%;
}

.aside{
  width: 35%;
  padding-right: 8%;
  padding-left: 2%;
}
